*{
  margin: 0;
  padding:0;
}
.container{
  margin:auto;
  text-align: center;
  width: 860px;
  height: auto;
  border:5px solid lightgrey;
}

.btndivs{
  display: none;
}
.monthContainer{
  width: 860px;
  height:auto;
}
.cell{
  border:1px solid lightgrey;
  width: 120px;
  height:120px;
  float:left;
  text-align: center;
  padding-top: 10px;

}
.cell:hover{
  background: lightgrey;
  color:white;
  font-size: 20px;

}
.colorRed{
  color:red;
}
.colorRed:hover{
  color: red;
}
#months{
}
