*{
  margin: 0;
  padding:0;
}
.container{
  margin:auto;
  text-align: center;
  width: 510px;
  height: auto;
  border:5px solid lightgrey;
}
.colorRed{
  color:red;
}
.btndivs{
  display: none;
}
.monthContainer{
  width: 510px;
  height:auto;
}
.cell{
  border:1px solid lightgrey;
  width: 100px;
  height:100px;
  float:left;
  text-align: center;
  padding-top: 10px;
}
